<html>
    <head>
        <title>{{title}}</title>
        <style>
            .main{
                width: 500px;
                background-color:red;
                color: white;
                padding:20px;
                font-size: 30px;
            } 
        </style>
    </head>
    <body>
        {% for n in clist %}
        {% comment %} <div class="main">{{bdata}}</div> {% endcomment %}
        <div>{{forloop.counter}} {{n}}</div>
        {% endfor %}

        <br>
        <table border="1" cellpadding="10">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>

            {% for d in student_details %}
            <tr>
                <td>{{d.name}}</td>
                <td>{{d.phone}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>